<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
 	$(document).ready(function(){
  		$("table").dataTable();	
  		
 	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".x").click(function(){
			if (this.value=="Tambah") {
				this.value = "Hapus"; 
			} else {
				this.value = "Tambah";
			}
		});
	});
     
</script>
<title>Halaman Barang</title>
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<div>
		<a th:href="@{/user/pengaturan/3}"><button>Pengaturan</button></a>
		<form th:action="@{/logout}" method="post">
            <input type="submit" value="Keluar"/>
        </form>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Vendor Id</th>
				<th>SKU</th>
				<th>Nama Barang</th>
				<th>Harga (Rupiah)</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="x : ${semuaBarang}">
				<td th:text="${x.vendorId.vendorName}"> </td>
				<td th:text="${x.sku}"> </td>
				<td th:text="${x.barangName}"> </td>
				<td th:text="${x.barangPrice}"> </td>
				<td>
					<a th:href="@{'/user/detailbarang/' + ${x.barangId}}"><input type="button" value="Detail" /></a>
					<a th:href="@{'/tambahkeranjang/' + ${x.sku}}"><input  type="button" value="Masukkan ke keranjang" /></a>
					<a th:href="@{'/kurangikeranjang/' + ${x.sku}}"><input type="button" value="Hapus dari keranjang" /></a>					
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>