<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"/>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript">
 $(document).ready(function(){
  $.get("/munculkan", function(data){
	  $.each( data, function( key, value ) {
		  alert( key);
		});
	});
  $("input:last").css("background-color","gold");
  $("#tes1").datepicker();
  });
</script>
<title>Insert title here</title>
</head>
<body>
	
</body>
</html>