<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Traveler &mdash; Free Website Template, Free HTML5 Template by GetTemplates.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="GetTemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" />
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css" />
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css" />
	<!-- Themify Icons-->
	<link rel="stylesheet" href="css/themify-icons.css" />
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css" />

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css" />

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css" />

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="css/owl.theme.default.min.css" />

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css" />

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
<!-- 	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1> -->
	<div class="gtco-loader"></div>
	
	<div id="page">

	
	<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Dropshipper</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					<form th:action="@{/user_barang/1}" method="get" class="navbar-form navbar-left">
						<div class="form-group ">
							<input type="text" class="form-control " placeholder="Search" />
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/user_pengaturan/3}">Pengaturan akun</a></li>
								<li><a href="#">Transaksi</a></li>
								<li role="separator" class="divider"></li>
								<li>
									<form th:action="@{/logout}" method="post">
							            <input type="submit" class="btn btn-primary col-md-12" value="Keluar"/>
							        </form>
							    </li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Barang yang bisa dibeli</h2>	
				</div>
			</div>
			<div class="row">

				<div th:each="x : ${semuaBarang}" class="col-lg-4 col-md-4 col-sm-6">
					<div class="fh5co-card-item">
						<figure>
							<img src="images/img_1.jpg" alt="image" class="img-responsive" />
						</figure>
						<div class="fh5co-text ">
							<h2 th:text="${x.barangName}"></h2>
							<p th:text="'Harga : Rp. ' + ${x.barangPrice}"> </p>
							<p th:text="'Vendor : ' + ${x.vendorId.vendorName}"> </p>
							<a th:href="@{'/user_detailbarang/' + ${x.barangId}}"><span class="btn btn-primary">Detail</span></a>
							<a th:href="@{'/tambahkeranjang/' + ${x.sku}}"><span class="btn btn-primary">Masukkan keranjang</span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
		
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Kami memiliki yang anda cari disini</h2>
				</div>
			</div>
			
		</div>
	</div>
	
	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>Dropship adalah sebuah sistem dan pola bisnis pemasaran dimana penjual tidak menyimpan stok barang, dan jika penjual mendapatkan order, penjual tersebut langsung meneruskan order dan detail pengiriman barangnya ke distributor/supplier/produsen.</p>
					</div>
				</div>
				<div class="col-md-3 col-md-push-1">
					
				</div>
				<div class="col-md-3 col-md-push-1">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +62 812 1313 3112</a></li>
							<li><a href="#"><i class="icon-mail2"></i> noreply@gmail.com</a></li>
							<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2018 Dropshipper. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://GetTemplates.co/" target="_blank">Ryan Pradnya</a> and <a href="http://GetTemplates.co/" target="_blank">Sigit Yudhianto</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	<!-- </div> -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>

	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>

	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	
	<!-- Datepicker -->
	<script src="js/bootstrap-datepicker.min.js"></script>
	

	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

