<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/local.css" />

  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

  <!-- you need to include the shieldui css and js assets in order for the charts to work -->

  <!--
  Pemannggilan webjars depedensis
  -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<form action="#" th:action="@{/editbarang}" th:object="${objedit}" method="post">
  <div>
    <label th:for="${objedit.kategoriId}"> kategori</label>
    <input type="text" th:field="*{kategoriId.kategoriId}" th:errorclass="fieldError"  id="kategoriinput"/>
    <p th:if="${#fields.hasErrors('kategoriId')}"  th:errors="*{kategoriId}"> vendorId</p>
  </div>
  <div>
    <label th:for="${objedit.vendorId}"> vendorId</label>
    <input type="text" th:field="*{vendorId.vendorId}" th:errorclass="fieldError" />
    <p th:if="${#fields.hasErrors('vendorId')}"  th:errors="*{vendorId}"> vendorId</p>
  </div>
  <div>
    <label th:for="${objedit.sku}"> SKU</label>
    <input type="text" th:field="*{sku}" th:errorclass="fieldError" />
    <p th:if="${#fields.hasErrors('sku')}"  th:errors="*{sku}"> SKU</p>
  </div>
  <div>
    <label th:for="${objedit.barangName}"> barangName</label>
    <input type="text" th:field="*{barangName}" th:errorclass="fieldError" />
    <p th:if="${#fields.hasErrors('barangName')}"  th:errors="*{barangName}"> barangName</p>
  </div>
  <div>
    <label th:for="${objedit.warna}"> warna</label>
    <input type="text" th:field="*{warna}" th:errorclass="fieldError" />
    <p th:if="${#fields.hasErrors('warna')}"  th:errors="*{warna}"> warna</p>
  </div>
  <div>
    <label th:for="${objedit.barangBerat}"> berat</label>
    <input type="text" th:field="*{barangBerat}" th:errorclass="fieldError" />
    <p th:if="${#fields.hasErrors('barangBerat')}"  th:errors="*{barangBerat}"> barangBerat</p>
  </div>
  <div>
    <label th:for="${objedit.barangPrice}"> barangPrice</label>
    <input type="text" th:field="*{barangPrice}" th:errorclass="fieldError" />
    <p th:if="${#fields.hasErrors('barangPrice')}"  th:errors="*{barangPrice}"> barangPrice</p>
  </div>


  <div>
    <input type="submit" value="Simpan yahhhhh" />
    <input type="hidden" th:field="*{barangId}" th:value="*{barangId}" />

  </div>
</form>
</body>
</html>