
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard - Deep Blue Admin</title>

  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/local.css" />

  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

  <!-- you need to include the shieldui css and js assets in order for the charts to work -->

  <!--
  Pemannggilan webjars depedensis
  -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
	.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1510 !important;
	float: left;
	display: none;
	min-width: 160px;
	width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
}
</style>
<script type="text/javascript">
  
  $(document).ready(function(){
    $("table").dataTable();
    $(".delete").click (function(){
		var idx = $(".delete").index(this);
		var idCal = $(".cas:eq(" + idx + ")").val();
		var url = "/deletebarang";
		var choice = confirm('Do you really want to delete this record?');
	    if(choice == true) {
			$.get(url,{barangId : barangId});
			location.reload();
	    } else {
	    	return false;
	    };
    });
	$.get("/kategori",function(data){
		$("#kategoriinput").autocomplete({
			source:data
		});
	});
  });
</script>

</head>
<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="images/logo.png" alt="" class="navbar-brand"/> 
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li ><a href="index.html"><i class="fa fa-bullseye"></i> Dashboard</a></li>
          <li ><a href="/barang"><i class="fa fa-tasks"></i> Barang</a></li>
          <li class="active"><a href="/kategori"><i class="fa fa-globe"></i> Kategori</a></li>
          <li ><a href="/vendor"><i class="fa fa-list-ol"></i> Vendor</a></li>
          <li><a href="/kurir"><i class="fa fa-font"></i> Kurir</a></li>
          <li><a href="/wilayah"><i class="fa fa-font"></i> Wilayah</a></li>
          <li><a href="/lokasi"><i class="fa fa-list-ol"></i> Lokasi </a></li>
          <li><a href="/bank"><i class="fa fa-font"></i> Bank </a></li>
          <li><a href="/pemesanan"><i class="fa fa-list-ul"></i> Pemesanan</a></li>
          <li><a href="/pengambilan"><i class="fa fa-table"></i> Pengambilan</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown messages-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">2 New Messages</li>
              <li class="message-preview">
                <a href="#">
                  <span class="avatar"><i class="fa fa-bell"></i></span>
                  <span class="message">Security alert</span>
                </a>
              </li>
              <li class="divider"></li>
              <li class="message-preview">
                <a href="#">
                  <span class="avatar"><i class="fa fa-bell"></i></span>
                  <span class="message">Security alert</span>
                </a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
            </ul>
          </li>
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1>Halaman Barang</h1>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Welcome to the admin dashboard! Feel free to review all pages and modify the layout to your needs.
            <br />
            This theme uses the <a href="https://www.shieldui.com">ShieldUI</a> JavaScript library for the
            additional data visualization and presentation functionality illustrated here.
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      	<a class="pull-left"> <button id="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">Tambah Barang</button></a>
      </div>
        <div class="col-lg-12">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Form Tambah Barang</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#" th:action="@{/kategori}" th:object="${objkategori}" method="post">
            <div>
              <label th:for="${objkategori.kategoriName}"> kategori</label>
              <input type="text" th:field="*{kategoriName}" th:errorclass="fieldError" class="form-control"  />
              <p th:if="${#fields.hasErrors('kategoriName')}"  th:errors="*{kategoriName}"> vendorId</p>
            </div>
            <div>
              <label th:for="${objkategori.kategoriLevel}"> vendorId</label>
              <input type="text" th:field="*{kategoriLevel}" th:errorclass="fieldError" class="form-control" />
              <p th:if="${#fields.hasErrors('kategoriLevel')}"  th:errors="*{kategoriLevel}"> vendorId</p>
            </div>
            <div>
              <label th:for="${objkategori.kategoriParentId}"> SKU</label>
              <input type="text" th:field="*{kategoriParentId}" th:errorclass="fieldError" class="form-control"/>
              <p th:if="${#fields.hasErrors('kategoriParentId')}"  th:errors="*{kategoriParentId}"> SKU</p>
            </div>
           

			<div class="modal-footer">
				<div>
              	<input type="submit" value="Simpan yahhhhh" class="btn btn-info pull-right"/>
            	</div>
			</div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
          <table class="table table-bordered table-hover pull-left">
            <thead>
              <tr>
                <th>Kategori Nama</th>
                <th>Kategori Level</th>
                <th>KAtegori PArent</th>

                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="x : ${semuakategori}">
                <td th:text="${x.kategoriName}"> </td>
                <td th:text="${x.kategoriLevel}"> </td>
                <td th:text="${x.kategoriParentId}"> </td>
                <td>
                  <a th:href="@{'/editkategori/' + ${x.kategoriId}}"><button class="btn btn-warning">edit</button></a>
                  <button class="delete btn btn-danger">Delete</button>
                                    <a th:href="@{'/editkategori/' + ${x.kategoriId}}"><button class="btn btn-warning">delete</button></a>
				  <input type="hidden" class="cas " th:value="${x.kategoriId}" />

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /#wrapper -->

  
    
</body>

</html>
