	
	<!DOCTYPE html>
	<html lang="en">
	<head>
	
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<title>SB Admin 2 - Bootstrap Admin Theme</title>
	
	
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	
	<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
	
	<!-- Bootstrap Core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	
	<!-- MetisMenu CSS -->
	<link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
	
	<!-- Custom CSS -->
	<link href="../dist/css/sb-admin-2.css" rel="stylesheet" />
	
	<!-- Custom Fonts -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" type="text/css" />
	
	
	
	<script src="../webjars/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../webjars/datatables/js/dataTables.bootstrap4.min.js"></script>
	
	<style type="text/css">
	.ui-autocomplete {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1510 !important;
		float: left;
		display: none;
		min-width: 160px;
		width: 160px;
		padding: 4px 0;
		margin: 2px 0 0 0;
		list-style: none;
		background-color: #ffffff;
		border-color: #ccc;
		border-color: rgba(0, 0, 0, 0.2);
		border-style: solid;
		border-width: 1px;
	}
	</style>
	<script type="text/javascript">
		$(document).ready(function() {
			$("table").dataTable();
			 $(".delete").click(function() {
			      var idx = $(".delete").index(this);
			      var idCal = $(".cas:eq(" + idx + ")").val();
			      var url = "/deletelokasi";
			      var choice = confirm('Do you really want to delete this record?');
			      if (choice == true) {          
			        $.get(url, {lokasiid : idCal}).done(function(){
			          location.reload();            
			        });
			
			      } else {
			        return false;
			      };
			    });
	
		});
	</script>
	
	</head>
	<body>
		<div id="wrapper">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation"
				style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">DropShipper</a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">
				
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#" > <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down" ></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw" th:text="'     ' +${#authentication.name}"></i> <h6 > </h6></a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i>
								Logout</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
				<!-- /.navbar-top-links -->
	
				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li class="active"><a href="index.html"><i
									class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
							<li><a href="#"><i class="fa fa-dropbox fa-fw"></i>Master
									Barang <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li><a href="/admin/kategori">Kategori Barang</a></li>
									<li><a href="/admin/barang">Barang</a></li>
								</ul> <!-- /.nav-second-level --></li>
							<li><a href="/admin/vendor"><i
									class="fa fa-building fa-fw"></i>Master Vendor</a></li>
	
							<li><a href="/admin/kurir"><i class="fa fa-truck fa-fw"></i>Master
									Kurir</a></li>
	
							<li><a href="#"><i class="fa fa-money fa-fw"></i>Master
									Bank <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li><a href="/admin/bank">Bank</a></li>
									<li><a href="/admin/rekening">Rekening</a></li>
								</ul> <!-- /.nav-second-level --></li>
	
							<li><a href="#"><i class="fa fa-map-marker fa-fw"></i>Master
									Lokasi <span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li><a href="/admin/wilayah"> Wilayah</a></li>
									<li><a href="/admin/lokasi"> Alamat</a></li>
								</ul> <!-- /.nav-second-level --></li>
	
	
							<li><a href="#"><i class="fa fa-shopping-cart fa-fw"></i>Master
									Transaksi<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li><a href="panels-wells.html">Transaksi</a></li>
									<li><a href="buttons.html">Pengambilan Barang</a></li>
									<li><a href="notifications.html">Pengiriman Barang</a></li>
								</ul> <!-- /.nav-second-level --></li>
	
							<li><a href="/user/index"><i class="fa fa-user fa-fw"></i>
									Master User</a></li>
	
						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>
				<!-- /.navbar-static-side -->
			</nav>
	
			<!-- Page Content -->
			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">Alamat</h1>
							<a class="pull-left">
								<button id="button" class="btn btn-primary" data-toggle="modal"
									data-target="#exampleModal">Tambah lokasi</button>
							</a>
	
							<div class="col-lg-12">
	
								<table width="100%"
							class="table table-striped table-bordered table-hover"
							id="dataTables-example">
									<thead>
										<tr>
											<th>wilayahname</th>
											<th>kodepos</th>
											<th>alamat</th>
	
											<th>Details</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="x : ${semuaLokasi}">
											<td th:text="${x.wilayahid.wilayahname}"></td>
											<td th:text="${x.kodepos}"></td>
											<td th:text="${x.alamatlengkap}"></td>
	
											<td><a th:href="@{'/editlokasi/' + ${x.lokasiid}}"><button
														class="btn btn-warning">edit</button></a>
												<button class="delete">Delete</button> <input type="hidden"
										class="cas " th:value="${x.lokasiid}" />
												</td>
										</tr>
									</tbody>
								</table>
								<div class="modal fade" id="exampleModal" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h2 class="modal-title" id="exampleModalLabel">Form
													Tambah lokasi</h2>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<form action="#" th:action="@{/lokasi}"
													th:object="${objlokasi}" method="post">
													<div>
														<label th:for="${objlokasi.wilayahid}"> Wilayah id
														</label> <input type="text" class="form-control"
															id="wilayahnamanye" /> <input type="hidden"
															th:field="*{wilayahid.wilayahid}"
															th:errorclass="fieldError" class="form-control"
															id="wilayahidnye" />
														<p th:if="${#fields.hasErrors('wilayahid')}"
															th:errors="*{wilayahid}">vendorId</p>
													</div>
													<div>
														<label th:for="${objlokasi.kodepos}"> kode pos</label> <input
															type="text" th:field="*{kodepos}"
															th:errorclass="fieldError" class="form-control" />
														<p th:if="${#fields.hasErrors('kodepos')}"
															th:errors="*{kodepos}">vendorId</p>
													</div>
													<div>
														<label th:for="${objlokasi.alamatlengkap}"> Alamat
															lengkap</label> <input type="text" th:field="*{alamatlengkap}"
															th:errorclass="fieldError" class="form-control" />
														<p th:if="${#fields.hasErrors('alamatlengkap')}"
															th:errors="*{alamatlengkap}">SKU</p>
													</div>
	
	
													<div class="modal-footer">
														<div>
															<input type="submit" value="Simpan yahhhhh"
																class="btn btn-info pull-right" />
														</div>
													</div>
	
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
	
						</div>
						<!-- /.col-lg-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /#page-wrapper -->
	
		</div>
		<!-- /#wrapper -->
		<script>
			$(document).ready(function() {
				var arayname = [];
				var arayid = [];
	
				$.get("/wilayahnamanyanya", function(data) {
					$.each(data, function(index, value) {
						arayname.push(value);
					});
				});
				$.get("/wilayahidnya", function(data) {
					$.each(data, function(index, value) {
						arayid.push(value);
					});
				});
				$("#wilayahnamanye").autocomplete({
					source : arayname,
					select : function(event, ui) {
						var index = arayname.indexOf(ui.item.value);
						$("#wilayahidnye").val(arayid[index]);
					}
				});
				/*		$.get("/wilayahnamanyanya",function(data){
				 $("#wilayahnamanye").autocomplete({
				 source:data 
				 });
				 });
				 */
			});
		</script>
		

		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
	
		<!-- Bootstrap Core JavaScript -->
		<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	
		<!-- Metis Menu Plugin JavaScript -->
		<script src="../vendor/metisMenu/metisMenu.min.js"></script>
	
		<!-- Custom Theme JavaScript -->
		<script src="../dist/js/sb-admin-2.js"></script>
	
		<!-- DataTables JavaScript -->
		<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
		<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
		<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
	</body>
	</html>
