<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>	

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
 $(document).ready(function(){
  $("table").dataTable();
  $.get("/kategori",function(data){
		$("#kategoriinput").autocomplete({
			source:data
		});
	});
  $("#kategoriinput").change(function(){
	  
  });
 });
</script>
<title>Halaman Admin</title>
</head>

<h1>Wilayah</h1>

<body>
<form action="#" th:action="@{/editwilayah}" th:object="${objeditwilayah}" method="post">
        <div>
			<label th:for="${objeditwilayah.wilayahName}"> name</label>
			<input type="text" th:field="*{wilayahName}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('wilayahName')}"  th:errors="*{wilayahName}"> barangName</p>
		</div>
		<div>
			<label th:for="${objeditwilayah.level}"> level</label>
			<input type="text" th:field="*{level}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('level')}"  th:errors="*{level}"> SKU</p>
		</div>
		<div>
			<label th:for="${objeditwilayah.parentId}"> parent</label>
			<input type="text" th:field="*{parentId.parentId}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('parentId')}"  th:errors="*{parentId}"> barangName</p>
		</div>
		
		<div>
			<input type="submit" value="Simpan yahhhhh" />
			<input type="hidden" th:field="*{wilayahId}" th:value="*{wilayahId}" />
		</div>
	</form>

	

</body>
</html>
